.project-modal-container {
    .screen {
        cursor: pointer;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.704);
    }
    .project-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        background: #373737;
        padding: 2rem;
        box-shadow: 0 0 15px #fff;
        border-radius: 1rem;
        width: 80%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .close-modal-btn {
            @include custom-button($border-color: #fff);
            padding: 0;
            position: fixed;
            top: 1rem;
            right: 1rem;
            font-size: 0.9rem;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 80%;
        }

        .tech-used {
            span:first-child {
                text-decoration: underline;
            }
        }
        .links {
            display: flex;
            gap: 1rem;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .project-modal-container {
        .project-modal {
            font-size: 0.8rem;
        }
    }
}
