* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    color: #fff;
}
body {
    margin: 0;
    background: #000000;
    overflow: hidden;
    &.scroll-enable {
        overflow: auto;
        overflow-x: hidden;
    }
}

.App {
    width: 100vw;
    min-height: 100vh;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
}
