* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    color: #fafafa;
    font-family: monsterrat;
}
body {
    margin: 0;
    background: #1c1c1c;
    overflow: hidden;
    &.scroll-enable {
        overflow: auto;
        overflow-x: hidden;
    }
}

.App {
    width: 100vw;
    min-height: 100vh;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: kdam;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 0;
    margin: 0;
}

section {
    min-height: 100vh;
}

.carousel.carousel-slider .control-arrow {
    background-color: rgba(0, 0, 0, 0.2);
}
