@font-face {
    font-family: kdam;
    src: url("../../assets/font/Kdam_Thmor_Pro/KdamThmorPro-Regular.ttf");
}

@font-face {
    font-family: monsterrat;
    src: url("../../assets/font/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
    font-family: monsterrat-bold;
    src: url("../../assets/font/Montserrat/static/Montserrat-Bold.ttf");
}
